<div id="banner">
  <div class="group">
    <h2>Vous ne savez pas ou partir ? Parfait !</h2>
    <div class="banner-group-link">
      <h2><%= link_to"Je suis flexible",  "#" %></h2>
    </div>
  </div>
</div>